<template>
  <div>
    <section class="block">
      <MovieBlock></MovieBlock>
    </section>
    <section>
      <CommentBlock></CommentBlock>
    </section >
  </div>
</template>

<script>
import MovieBlock from '@/components/MovieBlock.vue'
import CommentBlock from '@/components/CommentBlock.vue'

export default {
  components: {
    MovieBlock,
    CommentBlock,
  },
  computed: {
    isLogin() {
        return this.$store.getters.isLogin
    },
  },
  created() {
    if (!this.isLogin) {
      alert('로그인이 필요한 서비스 입니다')
      this.$router.push({ name: 'login'})
    }
  },
}
</script>

<style>
.block{
  margin:0;
  padding: 0;
  background-color: black;

}

</style>
