<template>
  <div>
    <nav v-if="!$store.getters.isLogin">
      <router-link class="nav-menu" :to="{ name: 'login' }">Login</router-link> |
      <router-link class="nav-menu" :to="{ name: 'signup' }">SignUp</router-link> |
    </nav>
      
  
    <nav v-else>
      
    <div>
      <img
          class="magnifying"
          src="@/assets/magnifying.png"
          alt="search"
          style="height:25px"
          v-b-modal.modal-1
        />
        <b-modal id="modal-1" title="BootstrapVue" size="xl" hide-header hide-footer aria-labelledby="myModalLabel" >
          <h4 class="modal-title title-font" style="font-weight:bold" id="myModalLabel">Movie Searcher</h4>
          <SearchView/>
        </b-modal>
     |
  
      <router-link class="nav-menu" :to="{ name: 'profile', params: {user_id: getCurrentUser }}">Profile</router-link> |
      <router-link class="nav-menu" :to="{ name: 'movies' }">Movies</router-link> |
      <router-link class="nav-menu" :to="{ name: 'logout' }">LogOut</router-link> |
    </div>
    
      
      
  
    
    </nav>
    <router-view></router-view>
  </div>
  </template>
  
  <script>
  import SearchView from '@/views/SearchView.vue'
  export default {
    components:{
      SearchView,
    },
    computed: {
      getCurrentUser() {
        if (this.$store.state.currentuser) {
          return this.$store.state.currentuser.user_id
        }
        else {
          return '$'
        }
      }
    }
  }
  </script>
  
  <style>
  
  
  nav {
    text-decoration-line: none;
    padding: 10px;
    background-color: rgb(0,0,0);
    text-align: right;
  }
  
  .nav-menu{
    text-decoration-line: none;
    padding: 12px;
    position: relative;
    color:white;
    font-weight: bold;
    
  }
  
  .nav-menu ::after {
    content: "";
    position: absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    width: 0;
    height: 4px;
    background-attachment: #f1c40f;
    transition:  all .5s ease-out;
  }
  
  .nav-menu :hover::after {
    width:100%;
  }
  </style>