<template>
  <div>
    <section class="intro">
      <b-container>
        <b-row>
          <h5 class="st-font mt-4" style="color:white">우리는 다음의 기술들로 유저분들께 영화정보를 제공해주고 있습니다.</h5>
        </b-row>
        <hr>
        <b-row style="margin-top:10vh">
          <b-col cols="4">
            <div class= "box1">
             <img src="@/assets/film.png" alt="">
             <hr>
             <h2 style="color:white" class="st-font">기초적이지만 유용한 필터링 검색서비스</h2>
             <hr>
             <h4 style="color:white" class="st-font">장르별로 필터링해서 유저가 쉽게 영화 정보를 얻을 수 있도록 돕는 기초적이지만 유용한 검색 서비스를 제공합니다.</h4>
            </div>
          </b-col>
          <b-col cols="4">
            <div class= "box1">
            <img src="@/assets/download.png" alt="">
             <hr>
             <h2 style="color:white" class="st-font">컨텐츠 기반 검색으로 필터링한 영화 정보 제공</h2>
             <hr>
             <h4 style="color:white" class="st-font">줄거리에서 추출한 단어의 조합으로 가장 유사한 영화의 정보를 제공하는 서비스를 제공합니다.</h4>
            </div>
          </b-col>
          <b-col cols="4">
            <div class= "box1">
            <img src="@/assets/tablet.png" alt="">
             <hr>
             <h2 style="color:white" class="st-font">유저의 평가를 기준으로 유저가 관심있을 영화의 리스트를 제공하는 서비스</h2>
             <hr>
             <h4 style="color:white" class="st-font">유저의 관심도를 확인하여 유저가 선호할만한 영화의 리스트를 작성하여 제공하는 서비스를 제공합니다.</h4>
            </div>
          </b-col>
        </b-row>
        <hr>
        <hr>
        <b-row>
          <h3 style="color:white; margin-top:15vh" class="st-font">우리의 검색 서비스에 관심이 생기셨나요? 그러면 지금 스크롤을 내려 우리 서비스를 이용해보세요. </h3>
        </b-row> 
      </b-container>
    </section>
    
    <section class="login">
      <LogInVue
      class="loginpage"
      />
    </section>
  </div>
</template>

<script>

import LogInVue from '@/components/LogIn.vue'

export default {
  components:{
    LogInVue,
  },
  data() {
    return {
      movieList: [],
    }

  },

  created() {
    if (this.$store.getters.isLogin) {
      this.$router.push({ name: 'movies' })
    }
  },
}

</script>

<style scoped>

.page-section{
  text-align: center
}

.intro-text{
  margin-top: 35vh;
}

.intro-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  margin-left: 5vw
}

.intro{

  background-color: rgb(4, 7, 20);
  width : 100vw;
  height : 100vh;
  overflow: hidden;
  display:flex;
  background-repeat : no-repeat;
  background-size : cover;
  background-position: center;

}

.login{

background-color: rgb(4, 7, 20);
width : 100vw;
height : 100vh;
overflow: hidden;
display:flex;
background-repeat : no-repeat;
background-size : cover;
background-position: center;

}


.loginpage{
  width: 100vw;
  height: 100vh;
  margin-bottom: 100px;

}

.box1{
  word-break: break-all
}
</style>
