<template>
  <div class="background">
    <h1 class="title-font recommend pt-2">Now Playing...</h1>
    <div class="red pa-2">
      <swiper class="swiper" :options="swiperOption">
        <swiper-slide v-for="(movie, index) in nowPlaying" :key="index">
          <div>
            <img :src="getPosterPath(movie.poster_path)" alt="이미지가 준비되지 않았습니다" style="height:25vh; float: bottom;">
            <p class="st-font" style="color:white">{{ movie.title }}</p>
          </div>
        </swiper-slide>
      </swiper>
	  </div>

    <h1 v-if="$store.state.currentuser" class="title-font recommend">{{ $store.state.currentuser.user_nickname }}님과 비슷한 관심사를 가진 분들이 선택했어요!</h1>
    <div v-if="$store.state.recommendations.length" class="red pa-2">
      <swiper class="swiper" :options="swiperOption">
        <swiper-slide div v-for="(movie, idx) in $store.state.recommendations"
          :key="idx"
          :movie="movie"
          @click="moveDetailPage(movie.movie_id)">
          <div>
            <img :src="getPosterPath(movie.poster_path)" alt="이미지가 준비되지 않았습니다" style="height:25vh; float: bottom;">
            <p class="st-font" style="color:white">{{ movie.title }}</p>
          </div>
        </swiper-slide>
      </swiper>
    </div>
    <div v-else>
      Now Loading...
    </div>

    <h1 class="title-font recommend">전체 영화</h1>
    <div v-if="$store.state.movies.length" class="container">
      <div class="row">
        <div class="col" v-for="(movie, index) in $store.state.movies" :key="index" :movie="movie" @click="moveDetailPage(movie.movie_id)">
          <p>{{ movie.title }}</p>
          <img v-if="movie.poster_path" :src="getPosterSrc(movie.poster_path)" alt="이미지가 준비되지 않았습니다" style="height:500px">
          <img v-else alt="이미지가 준비되지 않았습니다">
        </div>
      </div>
    </div>
  </div>
 
</template>


<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.min.css'
import axios from 'axios'

const API_URL = 'https://api.themoviedb.org/3/movie/now_playing' 
const API_KEY = '3c49bfecdf441dea85353323c773f353'

export default {
  name:'MainView',
  computed: {
    isLogin() {
        return this.$store.getters.isLogin
    },
    getPosterPath() {
      return (path) => {
        return `https://image.tmdb.org/t/p/w500/${ path }`
      }
    }
  },
  components: {
			swiper,
			swiperSlide,
		},
  data() {
    return {
      nowPlaying:[],
      swiperOption: {
        slidesPerView: 8,
        spaceBetween: 0,
        freeMode: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
    };
		},  
  created() {
    if (this.isLogin) {
      this.$store.state.movie = null
      this.$store.state.score = null
      this.$store.state.comments = null
      this.$store.state.searchResult = null,
      this.$store.state.recommendations = [],
      this.getNowPlaying(),
      this.$store.dispatch('getCurrentUser')
      this.$store.dispatch('getMovies')
    }
    else {
      alert('로그인이 필요한 서비스 입니다.')
      this.$router.push({ name: 'login'})
    }
  },
  methods: {
    getNowPlaying() {
      axios.get(API_URL, 
      {params:
        {
        api_key: API_KEY,
        language: 'ko-KR',
        }
      }).then ((response) => {
        if (response.data.results.length) {
          this.nowPlaying = response.data.results
        }
      }).catch((error) => {
        console.log(error)
      })
    },
    getPosterSrc(path) {
      return `https://image.tmdb.org/t/p/w500/${path}`
    },
    moveDetailPage(movie_id) {
      this.$router.push({ name: 'movie', params: {movie_id}})
    }
  }
}
</script>

<style lang="scss" scoped>
  .background{
    background-color: black;
  }

	.swiper-slide {
		background-position: center;
		background-size: cover;
	}

  .swiper {
  //height: 200px;
  width: 100%;
  padding-top: 5px;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    // font-size: $font-size-huge * 2;
    //  background-color: white;
  }
}

.recommend{
  color:white;
  font-weight: bold;
}
</style>
