<template>
  <div class="sadwrap" >
    <div>
    <img class='sadness title-font' src="@//assets/슬픔이.gif" alt="">
    <br>
    </div>
    <div>
    <h1 class="mt-5" style="outline:black">Sorry, Page not found</h1>
    </div>
</div>
</template>

<script>
export default {

}
</script>


<style scoped>

  .sadwrap{
    display: flex;
    justify-content: center;
    align-content: center;
  }


  .sadness {
  width: 500px;
  height: 500px;
  border: 5px solid rgb(163, 151, 198);
  border-radius: 50%;
    }
</style>