<template>
  <div v-if="$store.getters.isLogin" >
    <h2 style="margin-left: 25px; margin-bottom: 30px; text-align:center; font-size: 50px;" class="title-font">{{ user_nickname }}'s Profile</h2>
    <b-container >
      <b-row class="profile-row st-font">
        <b-col cols="7">
          <img :src="user_profileImage" alt="" class="rounded-circle" style="width: 250px; height: 250px; ">
          <div v-if="$store.state.currentuser.user_id == $route.params.user_id" style="margin-left: 50px;">
            <input class='fileadd'  type="file" ref="newProfileImage">
            <b-button variant="warning"  @click="changeProfileImage($store.state.currentuser.user_id)">변경</b-button>
          </div>
        </b-col>
        <b-col cols="5">
          <h3 float="left">이름: {{ user_nickname }}</h3>
          <div v-if="$store.state.currentuser.user_id == $route.params.user_id" ></div>
          <div v-else>
            <div v-if="isFollowing">
              <b-button variant="primary" @click="followUpdate" style="border:none;">언팔로우</b-button>
            </div>
            <div v-else>
              <b-button variant="primary" @click="followUpdate" style="border:none;">팔로우</b-button>
            </div>
          </div>
          <br>
          <br>  
          <p style=" float: left">Email: {{ user_email }}</p>
          <p>성별: {{ user_sex }}</p>
          <p>생년월일: {{ user_birthday }}</p>
        </b-col>
      </b-row>
      <hr>
      <b-row>
        <div class="d-flex">
          <p style="font-weight:bold; flex:1; text-align : center;"> {{user_followers.length}} <br> 팔로워 </p>
          <p style="font-weight:bold; flex:1;  text-align : center;"> {{user_followings.length}} <br> 팔로잉 </p>
        </div>
      </b-row>
     <hr>
    </b-container>
    <hr>
    <div v-if="review_movies.length">
      <h2>{{ user_nickname }}님이 리뷰한 영화</h2>
      <div class="red pa-2">
        <swiper class="swiper" :options="swiperOption">
          <swiper-slide v-for="(review_movie, idx) in review_movies"
          :key="idx"
          :review_movie="review_movie">
            <div>
              <p class="st-font" style="color:black">{{ review_movies[idx].title }}</p>
              <img style="width:250px; height:360px" :src="getPosterPath(review_movies[idx].poster_path)" alt="">
              <b-form-rating v-model="review_scores[idx]" variant="warning" class="mb-2" style="width:250px"></b-form-rating>
            </div>
          </swiper-slide>
        </swiper>
	    </div>
    </div>
    <div v-if="followings_movies.length">
      <h2>{{ user_nickname }}님이 팔로잉한 유저들이 리뷰한 영화</h2>
      <swiper class="swiper" :options="swiperOption">
          <swiper-slide v-for="(followings_movie, idx) in followings_movies"
          :key="idx"
          :followings_movie="followings_movie">
            <div>
              <p>{{ followings_movies[idx].title }}</p>
              <img style="width:250px; height:360px"  :src="getPosterPath(followings_movies[idx].poster_path)" alt="">
              <b-form-rating v-model="followings_scores[idx]" variant="warning" class="mb-2" style="width:250px"></b-form-rating>
            </div>
          </swiper-slide>
        </swiper>
    </div>
  </div>
</template>



<script>
import axios from 'axios'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.min.css'

export default {
  data() {
    return {
      user_email: null,
      user_nickname: null,
      user_birthday: null,
      user_sex: null,
      user_profileImage: null,
      user_followers: [],
      user_followings: [],
      review_movies: [],
      review_scores: [],
      followings_movies: [],
      followings_scores: [],
      swiperOption: {
        slidesPerView: 6,
        spaceBetween: 5,
        freeMode: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
    }
  },
  created() {
    if (!this.$store.getters.isLogin) {
      alert('로그인이 필요한 서비스입니다.')
      this.$router.push({ name: 'login' })
    }
    else {
      this.review_movies = []
      this.review_scores = []
      this.followings_movies = []
      this.followings_scores = []
      this.getUserProfile()
      this.getUserReviews()
      this.getFollowingsReviews()
    }
  },
  components: {
			swiper,
			swiperSlide,
		},
  computed: {
    decodeSex() {
      return this.user_sex === 'M' ? '남자' : '여자'
    },
    isFollowing() {
      for (const follower of this.$store.state.currentuser.followings) {
        if (follower == this.$route.params.user_id) {
          return true
        }
      }
      return false
    },
    getPosterPath() {
      return (path) => {
        return `https://image.tmdb.org/t/p/w500/${ path }`
      }
    }
  },
  methods: {
    async getUserProfile() {
      try {
        await axios({
          method: 'get',
          url: `http://127.0.0.1:8000/api/v1/users/${ this.$route.params.user_id }/`,
          headers: {
            Authorization: `Token ${ this.$store.state.token }`
          }
        })
        .then((res) => {
          this.user_email = res.data.email 
          this.user_nickname = res.data.nickname 
          this.user_birthday = res.data.birthday 
          this.user_sex = res.data.sex 
        })
        .catch(err => console.log(err))
      } catch(err) {
        console.log(err)
      }
      try {
        await axios({
          method: 'get',
          url: `http://127.0.0.1:8000/api/v1/profile/${ this.$route.params.user_id }/`,
          headers: {
            Authorization: `Token ${ this.$store.state.token }`
          }
        })
        .then((res) => {
          let image_file = ''
          if (res.data.profileImage_url.slice(7) === 'default.png') {
            image_file = res.data.profileImage_url.slice(7)
          }
          else {
            image_file = res.data.profileImage_url.slice(15) 
          }
          this.user_profileImage = `http://127.0.0.1:8000/media/profile/${image_file}/`
          this.user_followers = res.data.followers
          this.user_followings = res.data.followings
        })
        .catch(err => console.log(err))
      } catch(err) {
        console.log(err)
      }
    },
    changeProfileImage(user_id) {
      
      if (this.$refs.newProfileImage.files.length > 0) {
        let formData = new FormData()
        formData.append('image', this.$refs.newProfileImage.files[0])
        return axios({
          method: 'post',
          url: `http://127.0.0.1:8000/api/v1/profile/${user_id}/upload/`,
          headers: {
            'Content-Type': 'multipart/form-data',
          },
          data: formData
        })
        .then(res => {
          this.user_profileImage = `http://127.0.0.1:8000${res.data.image}`
        })
      }
    },
    followUpdate() {
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/api/v1/follow/${this.$store.state.currentuser.user_id}/${this.$route.params.user_id}/`,
        headers: {
          Authorization: `Token ${ this.$store.state.token }`
        },
      })
      .then(() => {
        this.$store.dispatch('getCurrentUser')
        this.getUserProfile()
        this.$store.dispatch('getCurrentUser')
        this.getUserProfile()
      })
      .catch(err => console.log(err))
    },
    getUserReviews() {
      axios({
        method: 'get',
        url: `http://127.0.0.1:8000/api/v1/movies/${ this.$route.params.user_id }/reviews/`,
        headers: {
          Authorization: `Token ${ this.$store.state.token }`
        }
      })
      .then((res) => {
        this.review_movies = res.data.movies
        this.review_scores = res.data.scores
      })
      .catch(err => {console.log(err)})
    },
    getFollowingsReviews() {
      axios({
        method: 'get',
        url: `http://127.0.0.1:8000/api/v1/movies/${ this.$route.params.user_id }/followings/reviews/`,
        headers: {
          Authorization: `Token ${ this.$store.state.token }`
        }
      })
      .then((res) => {
        this.followings_movies = res.data.movies
        this.followings_scores = res.data.scores
      })
      .catch(err => console.log(err))
    }
  }
}
</script>

<style scoped>
.profile-container{
  width: 100%;
  text-align: center;
}

.profile-row{
  text-align: center;
  margin-left: 25vw;
}

.fileadd {
  background-color:white;
  border: 0;
  outline: 0;
  color: black;
}

.collection{
  display:flex;
  justify-content: center;
}

</style>
