<template>
  <div>
    <b-container>
      <b-row>
        <b-input-group class="form-outline">
          <b-col cols="8">
            <input type="text" class="form-control my-2 st-font" placeholder="검색어를 입력하세요" v-model="inputText">
          </b-col>
          <b-col cols="1">
            <b-button class="search-btn my-2 st-font" variant="warning" @click="searchMovie">검색</b-button>
          </b-col>
          <b-col cols="3">
            <b-dropdown id="dropdown-left" text="장르를 선택해주세요" variant="warning" class="genre-list m-2 keyword st-font">
              <b-form-checkbox-group class="check-box">
                <div class ="box mx-2">
                  <b-form-checkbox v-for="(genre, idx) in genres" 
                    :key="idx" 
                    :genre="genre" 
                    :value="genre[1]" 
                    v-model="genreInput"
                  >
                    {{genre[0]}}
                  </b-form-checkbox>
                </div>
              </b-form-checkbox-group>     
            </b-dropdown>
          </b-col>
        </b-input-group>
      </b-row>
    </b-container>
    <b-container>
      <b-row style="width: 60vw;">
        <b-col v-for="(genre, idx) in genreInput" :key="idx" class="col-2 keyword st-font" >
          #{{ getGenreName(genre) }}
        </b-col>
      </b-row>
      <hr>
    </b-container>  
    
    <h3 class="title-font">검색결과</h3>
    <div class="row">
    <div class = "col st-font" v-for="(result, idx) in $store.state.searchResult"
      @click="moveDetailPage(result.movie_id)"
      :key=idx
      :result=result
      >
      <p>{{ result.title }}</p>
      <div class="event">
        <img :src="getPosterSrc(result.poster_path)" alt="이미지가 준비되지 않았습니다" style="height:50vh" class="result-image" >
      </div>
      
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'SearchView',
  data() {
    return {
      inputText: '',
      genreInput: [],
      genres : [['액션', 28], ['어드벤쳐',12],['애니메이션',16],['코미디',35], ['범죄',80],['다큐멘터리',99],['드라마',18],['가족',10751],['판타지',14],['사극',36],['호러',27],['음악',10402],
              ['미스테리',9648],['로맨스',10749],['공상과학',878],['TV 시리즈',10770],['스릴러',53],['전쟁',10752],['서부극',37]],
    }
  },
  computed: {
    getGenreName() {
      return (genreCode) => {
        const genreTable = {
          28: '액션',
          12: '어드벤쳐',
          16: '애니메이션',
          35: '코미디',
          80: '범죄',
          99: '다큐멘터리',
          18: '드라마',
          10751: '가족',
          14: '판타지',
          36: '역사물',
          27: '호러',
          10402: '음악',
          9648: '미스테리',
          10749: '로맨스',
          878: '공상과학',
          10770: 'TV 시리즈',
          53: '스릴러',
          10752: '전쟁',
          37: '서부극',
        }
        return genreTable[genreCode]
      }
    }
  },
  methods: {
    searchMovie() {
  
      const payload = {
        'keyword': this.inputText,
        'genres': this.genreInput,
        'birthday': this.$store.state.currentuser.user_birthday
      }
      if (payload['keyword'] || payload['genres'].length > 0){
        this.$store.dispatch('searchMovie', payload)
        console.log(this.$store.state.searchResult)
      }
      else {
        alert('검색어를 입력하세요')
      }
    },
    getPosterSrc(path) {
      return `https://image.tmdb.org/t/p/w500/${path}`
    },
    moveDetailPage(movie_id) {
      this.$router.push({ name: 'movie', params: {movie_id}})
      this.$router.go()
    },
  }
    
}
</script>

<style >
.form-outline{
  display: table-cell;
  vertical-align: middle;

}
.box{
  width:157px
}

.check-box{
  height: 180px;
  overflow-y: scroll;
}

.searchform{
  width: 300px;
}

.keyword{
  color: #fff;
  font-size: 18px;
  background-color: #a734ff;
  width: 110px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  line-height: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;

}

.genre-list{
  height: 38px;
}

.result-image {
  display: inline-block;
  box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 1);

}

</style>
