<template>
  <div v-if="$store.state.comments">
    <h4 class="title-font">댓글 {{ $store.state.comments.length }}개</h4>
    <b-container d-grid fluid >
      <div class="row">
        <div class="col-1">
          <img :src="$store.state.currentuser.profileImage_url" class="col-2 mx-2 rounded-circle"  style="width:50px; height:50px; padding: 0;">
        </div>
        <div class="col-10">
          <b-textarea
            placeholder="댓글 추가..."
            v-model="content"
            class="comment-input st-font"
            style="height: 50px; border: none;">
          </b-textarea>
        </div>
        <button @click="createComment" class="btn col-1"><img src="@/assets/send.png" alt="" class="send-img"></button>
      </div>
    </b-container>
    <hr>
    <b-container d-grid fluid style="justify-content: space-between">
      <b-row v-for="(comment, index) in $store.state.comments"
        class="title-font"
        :key=index
        :comment=comment
        >
        <b-col cols="1">
          <img :src="comment.profile_image" class="mx-2 rounded-circle reply"  style="width:45px; height:45px; padding: 0; margin: 3;">
        </b-col>
        <b-col cols="10"> 
          <h6 @click="goProfile(comment.user)" style="margin: 5"> {{ comment.nickname }} · {{ displayedAt(comment.updated_at) }}</h6>
            <div  v-if="!comment.is_edit">
              <h6> {{ comment.content }}</h6>
              <button class="util-btn"  @click="likeComment(comment)"><img class="emoji" src="@/assets/good.png" alt="좋아요"> {{ comment.like_users.length }}</button>
              <button class="util-btn" @click="unlikeComment(comment)"><img class="emoji" src="@/assets/hate.png" alt="싫어요"> {{ comment.unlike_users.length }}</button>
              <button class="util-btn" @click="comment.show_child=!comment.show_child"><img class="emoji" src="@/assets/reply.png" alt="">{{ comment.n_childs }}</button>
              <div v-if="comment.show_child">
              <RepliesBlock :parent=comment :index="index"></RepliesBlock>
              </div>
            </div>
            <div v-else>
              <b-textarea
                :placeholder="comment.content"
                v-model="newContent"
                class="comment-input"
                >
              </b-textarea>
              <button @click="updateComment(comment.id, index)">완료</button>
            </div>
        </b-col>
        <b-col cols="1">
          <div class="mb-3">
            <b-button class="util-btn" @click="comment.util_btn = !comment.util_btn"> ⋮ </b-button>
            <div v-if="comment.util_btn"><button v-if="comment.user === $store.state.currentuser.user_id" @click="comment.is_edit=!comment.is_edit" class="util-btn" >수정</button></div>
            <div v-if="comment.util_btn"><button v-if="comment.user === $store.state.currentuser.user_id" @click="deleteComment(comment.id, index)" class="util-btn" >삭제</button></div>
          </div>          
        </b-col>
        <hr>
      </b-row>
    </b-container> 
  </div>
</template>

<script>
import RepliesBlock from '@/components/RepliesBlock.vue'

export default {
  components: {
    RepliesBlock
  },
  data() {
    return {
      content: '',
      newContent: '',
    }
  },
  created() {
    this.$store.dispatch('getComments', this.$route.params)
  },
  methods: {
    createComment() {
      const payload = {
        movie_id: this.$route.params.movie_id,
        content: this.content,
        profile_image: this.$store.state.currentuser.profileImage_url,
        n_childs: 0
      }
      this.$store.dispatch('createComment', payload)
      this.content = ''
    },
    updateComment(comment_id, idx) {
      const payload = {
        comment_id: comment_id,
        idx: idx,
        newContent: this.newContent,
      }
      this.$store.dispatch('updateComment', payload)
    },
    deleteComment(comment_id, idx) {
      const payload = { 
        comment_id,
        idx,
        is_parent: true
      }
      this.$store.dispatch('deleteComment', payload)
    },
    goProfile(user_id) {
      this.$router.push({ name: 'profile', params: {user_id: user_id}})
    },
    likeComment(comment) {
      const payload = {
        movie_id: comment.movie,
        comment_id: comment.id,
        user_id: this.$store.state.currentuser.user_id,
        is_parent: true
      }
      this.$store.dispatch('likeComment', payload)
    },
    unlikeComment(comment) {
      const payload = {
        movie_id: comment.movie,
        comment_id: comment.id,
        user_id: this.$store.state.currentuser.user_id,
        is_parent: true
      }
      this.$store.dispatch('unlikeComment', payload)
    },
  },
  computed: {
    displayedAt() {
      return (updated_at) => {
        const now = new Date()
        const milliSeconds = now - new Date(updated_at)
        const seconds = milliSeconds / 1000
        if (seconds < 60) return `방금 전`
        const minutes = seconds / 60
        if (minutes < 60) return `${Math.floor(minutes)}분 전`
        const hours = minutes / 60
        if (hours < 24) return `${Math.floor(hours)}시간 전`
        const days = hours / 24
        if (days < 7) return `${Math.floor(days)}일 전`
        const weeks = days / 7
        if (weeks < 5) return `${Math.floor(weeks)}주 전`
        const months = days / 30
        if (months < 12) return `${Math.floor(months)}개월 전`
        const years = days / 365
        return `${Math.floor(years)}년 전`
      }
    },
  }
}
</script>
<style scoped>
.btn{
  width:45px;
  height:45px; 
  padding: 0;
}

.comment-input{
  -webkit-appearance:none;
  -moz-appearance: none;
  -o-appearance:none;
  appearance: none;
}
.send-img{
  width:45px;
  height:45px; 
  padding: 0;

}

.reply{
  float: left;
}

.util-btn {
  background-color:white;
  border: 0;
  outline: 0;
  color: black;
  font-weight:bold
}

.emoji{
  width: 15px;
  height:15px;
}
</style>
