<template>
  <div class="page">
    <section class="page-section mx-auto"> 
      <h2 class="page-section-heading text-center text-uppercase text-warning" style="font-weight: bold;">Login</h2>
    <div class="showcase class">
        <div class="showcase-content">
            <div class="formm">
              <div class="col-lg-6 mx-auto">
              <form @submit.prevent="fnLogin">
                  <br>
                  <div class="st-font  floating-label-form-group controls mb-0 pb-1 text-secondary">
                      <label class="form-group" for="email">E-mail :</label>
                      <input class="form-control" id="email" type="email" placeholder="E-mail을 입력해주세요" v-model="email" style="font-size: 25px"> 
                      <label  class="form-group" for="email">Password :</label>
                      <input class="form-control" type="password" placeholder="Password를 입력해주세요" v-model="password" style="font-size: 25px">
                  </div>
                  <div class="text-white st-font form-btn">
                      <button class="btn btn-outline-warning btn-xl" type="submit">Log-In</button>
                  </div>
                  <br>
                  <p class="st-font form-group">아직 회원이 아니시라면? <br> 아래 회원가입 버튼을 눌러주세요</p>
                <div class="signup">
                  <br>
                  <button class="btn btn-outline-warning btn-xl" @click="goSignUp">Sign up now!</button>
                </div>
              </form>
            </div>
          </div>
              
            <!-- <div class="kakao">
                <a href=" ">
                  <img src="../assets/images.png" alt="KaKaoTalk">
                </a>
                <p>Login with KAKAO Talk</p>
            </div> -->
           
          </div>
        </div>
      </section>
  </div>
</template>
   
<script>
// @ is an alias to /src
export default {
    name: 'LoginView',
    components: {

    },
    data() {
    return  {
        email : '',
        password : '',

    }
    },
    methods :{
    fnLogin() {
        const email = this.email
        const password = this.password
        const payload = {
        email, 
        password,
        }
        this.$store.dispatch('logIn', payload)
    },

    goSignUp(){
        this.$router.push({name:'signup'})
    },
    
    }
}
</script>
   


<style scoped>

.page {
  background-color: rgb(4, 7, 20);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center; 
  align-items : center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.page-section{
  padding-block: 5vh;
  margin-bottom: 10vh;
  margin-top: 20vh;
  text-align: center;
  width: 35%;
  background-color: rgb(0,0,0,0.8);
}



.form-control {
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: inherit;

}
.form-group{
  font-weight: bold;
  color:white;
}

</style>
