<template>
  <div>
    <p>{{ message }}</p>
  </div>
</template>

<script>
export default {
  name: 'LogOutView',
  computed: {
    message() {
      if (!this.$store.state.token) {
        return `로그아웃 했습니다`
      } else {
        return ''
      }
    }
  },
  created() {
    this.$store.state.movies = []
    this.$store.state.movie = null
    this.$store.dispatch('logOut')
  },
}
</script>

<style>

</style>
