<template>

  <div v-if="$store.state.movie" :style="{ 'background-image': getBackground }" class="container">
    
    <div class="row movie-content">
      <div class="col-4 mt-3 mx-5 mb-3">
        <img :src="getPoster" alt="포스터가 아직 준비되지 않았습니다.">
      </div>
    </div>
      <div class="col-8 movie-content">
        
        <h1 class="mt-2" style="color:white; font-weight:500">{{ $store.state.movie.title }}</h1>
        <div>
          <b-button v-b-toggle.sidebar-right variant="outline-warning" class="st-font" style="font-weight:bold">비슷한 영화 보기</b-button>
          <b-sidebar id="sidebar-right" class="st-font" title="이런 영화는 어때요??" right>
            <div class="px-3 py-2">
              <RecommendMovie/>
            </div>
          </b-sidebar>
        </div>
          <iframe class="mt-2"
            width="640"
            height="360"
            :src="getVideo"
            frameborder="0"
            allow=" fullscreen ">
          </iframe>
        <!-- </b-modal> -->
      <div class="text-box st-font">
        <p>개봉일: {{ $store.state.movie.release_date }}</p>
        <p>러닝타임: {{ $store.state.movie.runtime }}분</p>
        <p>장르: {{ getGenre }}</p>
        <p class="overview">{{ $store.state.movie.overview }}</p>
        <div v-if="$store.state.movie.user.includes($store.state.currentuser.user_id)">
          <p>나의 점수: {{ $store.state.movie.score }}</p>
        </div>
        <div v-else class="star">
          <label for="rating-inline">이 영화가 마음에 드시나요? :)</label> <br>
          <b-form-rating style="float:left" id="rating-inline" variant="warning" inline value="score" v-model="score">  </b-form-rating>
          <button class ="rating-btn ml-2 mb-1" @click="updateScore">평가하기</button> 
          <p > {{score}} 점을 선택하셨습니다:)</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RecommendMovie from './RecommendMovie.vue'
const TMDB_BASE_PATH = 'https://image.tmdb.org/t/p'
const YOUTUBE_BASE_PATH = 'https://www.youtube.com/embed'

export default {
  data() {
    return {
      score: null,
    }
  },
  components: {
    RecommendMovie,
  },
  computed: {
    getBackground() {
      return `url(${TMDB_BASE_PATH}/original${this.$store.state.movie.backdrop_path})`
    },
    getPoster() {
      return `${TMDB_BASE_PATH}/w500${this.$store.state.movie.poster_path}`
    },
    getGenre() {
      let result = ''
      const genres = this.$store.state.movie.genre_names
      for (const idx in genres) {
        if (idx === '0') {
          result += genres[idx]
        }
        else {
          result += `, ${genres[idx]}`
        }
      }
      return result
    },
    getVideo() {
      return `${YOUTUBE_BASE_PATH}/${this.$store.state.movie.video_key}/autoplay=1`
    },
  },
  created() {
    this.$store.dispatch('getDetail', this.$route.params)
  },
  methods: {
    updateScore() {
      const payload = {
        movie_id: this.$store.state.movie.movie_id,
        user_id: this.$store.state.currentuser.user_id,
        score: this.score
      }
      this.$store.dispatch('updateScore', payload)
    },
  },
}
</script>

<style scoped>


.container{
  overflow: hidden;
  display:flex;
  background-repeat : no-repeat;
  background-size : cover;
  background-position: center;
  width : 100vw;
  height : 100vh;

}


.movie-content{
  z-index:99
}

.text-box{
  width: 40vw;
  height:60vh;
  margin-bottom: 10px;
  color: white;
  z-index:0;
}

.text-box:after{
  background-color: rgb(0, 0, 0,0.7);
  z-index: 99;
}

.star {
  outline: 0;
}
.overview {
  display: block;
  font-weight: bolder !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  height: 4.8em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4 ;
  -webkit-box-orient: vertical;
}

.rating-btn{
  background-color: #140fff;
  color: yellow;

}

</style>
