<template>
  <div>
    <div v-if="recommendations.length">
        <h2 class = "title-font">"{{ $store.state.movie.title }}"와 비슷한 영화 추천</h2>
        <div v-for="(movie, idx) in recommendations"
          :key="idx"
          :movie="movie"
          @click="moveDetailPage(movie.movie_id)">
          <p>{{ movie.title }}</p>
          <img :src="getPosterSrc(movie.poster_path)" alt="포스터가 아직 준비되지 않았습니다." style="height:25vh">
        </div>
      </div>
      <div v-else>
        Now Loading
      </div>
  </div>
</template>

<script>
import axios from 'axios'


const TMDB_BASE_PATH = 'https://image.tmdb.org/t/p'
const YOUTUBE_BASE_PATH = 'https://www.youtube.com/embed'

export default {
  data() {
    return {
      recommendations: [],
    }
  },
  computed: {
    getBackground() {
      return `url(${TMDB_BASE_PATH}/original${this.$store.state.movie.backdrop_path})`
    },
    getPoster() {
      return `${TMDB_BASE_PATH}/w500${this.$store.state.movie.poster_path}`
    },
    getGenre() {
      let result = ''
      const genres = this.$store.state.movie.genre_names
      for (const idx in genres) {
        if (idx === '0') {
          result += genres[idx]
        }
        else {
          result += `, ${genres[idx]}`
        }
      }
      return result
    },
    getVideo() {
      return `${YOUTUBE_BASE_PATH}/${this.$store.state.movie.video_key}/autoplay=1`
    },
  },
  created() {
    this.$store.dispatch('getDetail', this.$route.params)
    this.getContentsBasedRecommendations()
  },
  methods: {
    updateScore() {
      const payload = {
        movie_id: this.$store.state.movie.movie_id,
        user_id: this.$store.state.currentuser.user_id,
        score: this.score
      }
      this.$store.dispatch('updateScore', payload)
    },
    getContentsBasedRecommendations() {
      this.data = []
      axios({
        method: 'get',
        url: `http://127.0.0.1:8000/api/v1/recommendations/contentbase/${this.$route.params.movie_id}/`,
        headers: {
          Authorization: `Token ${ this.$store.state.token }`
        }
      })
      .then((res) => {
        this.recommendations = res.data
      })
      .catch(err => console.log(err))
    },
    moveDetailPage(movie_id) {
      this.$store.dispatch('getDetail', { movie_id })
      this.getContentsBasedRecommendations()
    },
    getPosterSrc(path) {
      return `https://image.tmdb.org/t/p/w500/${path}`
    },
  }
}
</script>
<style>

</style>