<template>
  <div>
    <h5>Replies</h5>
      <b-container d-grid fluid >
      <div class="row">
        <div class="col-1">
          <img :src="$store.state.currentuser.profileImage_url" class="col-2 mx-2 rounded-circle"  style="width:50px; height:50px; padding:0;">
        </div>
        <div class="col-10">
          <b-textarea
            placeholder="댓글을 입력하세요"
            v-model="content">
          </b-textarea>
        </div>
        <div class="col-1">
          <button class=btn @click="createChildComment" btn ><img src="@/assets/send.png" alt="" class="send-img"></button>
        </div>
      </div>
    </b-container>
    <hr>
      <b-container d-grid fluid style="justify-content: space-between">
      <b-row v-for="(comment, idx) in comments"
        :key=idx
        :comment=comment>
        <b-col cols="1">
          <img :src="comment.profile_image" class="col-2 mx-2 rounded-circle"  style="width:50px; height:50px; padding:0;">
        </b-col>
        <b-col cols="10"> 
          <p @click="goProfile(comment.user)" > {{ comment.nickname }} · {{ displayedAt(comment.updated_at) }}</p>
          <h6> {{ comment.content }}</h6>
          <button class="util-btn" @click="likeComment(comment)"><img class="emoji" src="@/assets/good.png" alt="좋아요">{{ comment.like_users.length }}</button>
          <button class="util-btn" @click="unlikeComment(comment)"><img class="emoji" src="@/assets/hate.png" alt="싫어요">{{ comment.unlike_users.length }}</button>
          <button class="util-btn" @click="deleteComment(comment.id, idx)"><img class="emoji" src="@/assets/trash.png" alt=""></button>
        </b-col>
      </b-row>
    </b-container> 
  </div>
</template>

<script>
import axios from 'axios'

const API_URL = 'http://127.0.0.1:8000'

export default {
  data() {
    return {
      content: '',
      newContent: '',
      comments: [],
    }
  },
  props: {
    parent: Object,
    index: Number
  },
  created() {
    axios({
      method: 'get',
      url: `${ API_URL }/api/v1/comments/${ this.parent.id }/child/`,
      headers: {
        Authorization: `Token ${ this.$store.state.token }`
      }
    })
    .then((res) => {
      this.comments = res.data
      for (const comment of this.comments) {
        comment['is_edit'] = false
      }
    })
    .catch(err => console.log(err))
  },
  methods: {
    createChildComment() {
      const payload = {
        movie_id: this.$route.params.movie_id,
        content: this.content,
        parent: this.parent.id
      }
      axios({
        method: 'post',
        url: `${ API_URL }/api/v1/movies/${payload.movie_id}/comments/`,
        headers: {
          Authorization: `Token ${ this.$store.state.token }`
        },
        data: {
          content: payload.content,
          parent: payload.parent
        }
      })
      .then((res) => {
        res.data['is_edit'] = false
        res.data['profile_image'] = this.$store.state.currentuser.profileImage_url
        this.comments.push(res.data)
        this.content = ''
        this.$store.state.comments[this.index].n_childs += 1
      })
      .catch(err => console.log(err))
    },
    deleteComment(comment_id, idx) {
      const payload = { 
        comment_id,
        idx,
        is_parent: false
      }
      this.$store.dispatch('deleteComment', payload)
      console.log(payload)
      this.comments.splice(payload.idx, 1)
      this.$store.state.comments[this.index].n_childs -= 1
    },
    likeComment(comment) {
      const payload = {
        movie_id: comment.movie,
        comment_id: comment.id,
        user_id: this.$store.state.currentuser.user_id,
        is_parent: false
      }
      this.$store.dispatch('likeComment', payload)
      if (comment.like_users.includes(this.$store.state.currentuser.user_id)) {
        for (let i=0; i < comment.like_users.length; i++) {
          if (comment.like_users[i] == this.$store.state.currentuser.user_id) {
            comment.like_users.splice(i, 1)
            break
          }
        }
      }
      else {
        comment.like_users.push(this.$store.state.currentuser.user_id)
      }
    },
    unlikeComment(comment) {
      const payload = {
        movie_id: comment.movie,
        comment_id: comment.id,
        user_id: this.$store.state.currentuser.user_id,
        is_parent: false
      }
      this.$store.dispatch('unlikeComment', payload)
      if (comment.unlike_users.includes(this.$store.state.currentuser.user_id)) {
        for (let i=0; i < comment.unlike_users.length; i++) {
          if (comment.unlike_users[i] == this.$store.state.currentuser.user_id) {
            comment.unlike_users.splice(i, 1)
            break
          }
        }
      }
      else {
        comment.unlike_users.push(this.$store.state.currentuser.user_id)
      }
    },
    goProfile(user_id) {
      this.$router.push({ name: 'profile', params: {user_id: user_id}})
    },
  },
  computed: {
    displayedAt() {
      return (updated_at) => {
        const now = new Date()
        const milliSeconds = now - new Date(updated_at)
        const seconds = milliSeconds / 1000
        if (seconds < 60) return `방금 전`
        const minutes = seconds / 60
        if (minutes < 60) return `${Math.floor(minutes)}분 전`
        const hours = minutes / 60
        if (hours < 24) return `${Math.floor(hours)}시간 전`
        const days = hours / 24
        if (days < 7) return `${Math.floor(days)}일 전`
        const weeks = days / 7
        if (weeks < 5) return `${Math.floor(weeks)}주 전`
        const months = days / 30
        if (months < 12) return `${Math.floor(months)}개월 전`
        const years = days / 365
        return `${Math.floor(years)}년 전`
      }
    },     
  }
}
</script>

<style scoped>
.btn{
  width:45px;
  height:45px; 
  padding: 0;
}

.send-img{
  width:45px;
  height:45px; 
  padding: 0;
}
.util-btn {
  background-color:white;
  border: 0;
  outline: 0;
  color: black;
  font-weight:bold
}

.emoji{
  width: 15px;
  height:15px;
}
</style>