<template>
  <div class="back">
    <section class="page-section mx-auto my-5" id="contact">
      <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-warning mb-0" style="font-weight:bold">회원가입하기</h2>
        <br>
          <div class="row">
            <div class="col-lg-8 mx-auto">
             <form @submit.prevent="signUp">
               <div class="control-group">
                  <div class="st-font form-group floating-label-form-group controls mb-0 pb-2">
                    <label for="email">E-mail(아이디): </label>
                    <input
                      class="form-control" 
                      id="email"
                      type="email"
                      required
                      placeholder="E-mail을 입력해주세요"
                      v-model.trim="email"
                      data-validation-required-message="Please enter your E-mail."
                      style="font-size: 25px"
                    > 
                    <h6>정확한 e-mail을 작성해주세요.</h6>
                    <br>
                  </div>
                  <div class="st-font form-group floating-label-form-group controls m-0">
                    <label for="password1">Password: </label>
                    <input
                      class="form-control" 
                      id="password1"
                      type="password"
                      required
                      placeholder="password을 입력해주세요"
                      v-model="password1"
                      data-validation-required-message="Please enter your password."
                      style="font-size: 25px"
                    >
                  </div>
                  <div class="st-font form-group floating-label-form-group controls m-0">
                    <label for="password1">Password 확인: </label>
                    <input
                      class="form-control" 
                      id="password2"
                      type="password"
                      required
                      placeholder="password를 한번 더 입력해주세요"
                      v-model="password2"
                      @blur="passwordCheckValid"
                      data-validation-required-message="Please enter your password."
                      style="font-size: 25px"
                    >
                    <div v-if="!passwordCheckFlag" style="color:red">
                      비밀번호가 동일하지 않습니다.
                    </div>
                    <h6>password는 8자 이상을 권장합니다.</h6>


                    
                  </div>
                  <div class="control-group">
                    <br>
                    <div class="st-font form-group floating-label-form-group controls mb-0 pb-2">
                        <label for="nickname">Nickname:</label>
                        <input 
                        style="font-size: 25px" 
                        v-model.trim="nickname" 
                        class="form-control" 
                        id="nickname" 
                        type="text" 
                        placeholder="사용하실 닉네임을 적어주세요" 
                        required="required"
                          data-validation-required-message="Please enter your Nickname." />
                        <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <label  class="st-font form-group" for="sex" >성별:</label>
                  <div class="select-wrapper">
                    <select v-model="sex" style="width:150px; height:25px; font-size:20px; border: 1px; border-radius: 5%;" >
                      <option v-for="(option,idx) in options"
                      :key="idx"
                      class="st-font" 
                      v-bind:value="option.value">
                      {{ option.text }}
                      </option>
                    </select>
                  </div>
                  <br>
                  <div>
                    <div>
                      <label class="st-font form-group" for="birthday">생년월일을 입력해주세요 :
                        <input type="date" style="width:200px; font-size:25px; border: 1px; border-radius: 5%;" name="birthday" v-model="birthday" required pattern="YYYY-mm-dd" >
                        <span class="validity"></span>
                      </label>
                    </div>
                    <br>
                  </div>
                  <div class = "form-group">
                    <button class="btn btn-outline-warning btn-xl" type="submit">
                      <b>Sign Up</b>
                    </button>
                  </div>
                </div>
               </form>
             </div>
          </div>
        </div>
    </section>
  </div>
</template>


<script>

export default {
  data() {
    return {
      email: null,
      password1: null,
      password2: null,
      nickname: null,
      sex: null,
      options: [
      { text: '남', value: 'M' },
      { text: '여', value: 'F' },
    ],
      birthday: null,
      passwordCheckFlag: true      
    }
  },
  methods: {
    signUp() {
      const email = this.email
      const password1 = this.password1
      const password2 = this.password2
      const nickname = this.nickname
      const sex = this.sex
      const birthday = String(this.birthday)

      const payload = {
        email, password1, password2, nickname, sex, birthday
      }
      this.$store.dispatch('signUp', payload)
    },
    passwordCheckValid () {
      if (this.password1 === this.password2) {
        this.passwordCheckFlag = true
      } else {
        this.passwordCheckFlag = false
      }
    }
  }
}
</script>

<style scoped>

.back{
  background-color: rgb(4, 7, 20);
  display: flex;
  justify-content:center; 
  align-items : center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 19px;
  background: rgb(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  width:45vw;
  padding: 2rem;
  text-align: center;
  
}

.form-group{
  font-weight: bold;
  color:white;
}
</style>