<template>
  <div>
    <HeaderView></HeaderView>
  </div>
</template>

<script>
import HeaderView from '@/views/HeaderView.vue'

export default {
  components: {
    HeaderView,
  }
}
</script>

<style>
.st-font{
  font-family: 'Do Hyeon', sans-serif;
}

.title-font{
  font-family: 'Jua', sans-serif;
}
</style>